@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

// $bg-color: #A1C7E0;
// $primary-color: #103778;
// $secondary-color: #1BA0F2;
$bg-color: #A3CCAB;
$primary-color: #1E5959;
$secondary-color: #3B8C6E;
$white: #FFFFFF;
$font-source: 'Roboto Condensed', sans-serif;
$bold-weight: 700;
$regular-weight: 400;